<!doctype html>
<html lang="en"
      xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="рецепти, готварски рецепти, кулинарни рецепти, готвене, какво да сготвя, храна" name="keywords">
    <meta content="Готварски рецепти със снимки, необходими продукти, порции, време за приготвяне и стъпки, които да следваш, за да сготвиш своето ястие."
          property="description">
    <link href="/images/icon.png" rel="icon" type="image/x-icon">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <script src="/js/app.js" type="module"></script>
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
<!-- Footer -->
<footer>
    <hr style="width:100%;text-align:left;margin-left:0;">
    <div class="footer">
        <a th:href="@{/}" th:text="#{footer_home}">Начало</a>
        <a th:href="@{/info}" th:text="#{footer_info}">Информация</a>
        <a th:href="@{/terms_of_use}" th:text="#{footer_terms}">Условия за ползване</a>
        <a th:href="@{/data_policy}" th:text="#{footer_policy}">Политика за поверителност на данните</a>
        <a th:href="@{/contacts}" th:text="#{footer_contacts}">Контакти/За реклама</a>
    </div>
    <br>
    <ul id="social-media">
        <li>
            <p>2023 &copy; dasgotvim.com</p>
        </li>
        <li>
            <a th:href="@{https://www.facebook.com/mihaela.malinova.98/}">
                <img alt="facebook icon" src="/images/facebook.svg">
            </a>
        </li>
        <li>
            <a th:href="@{https://www.instagram.com/mihaellamalinova/}">
                <img alt="instagram icon" src="/images/instagram.svg">
            </a>
        </li>
        <li>
            <a th:href="@{https://www.linkedin.com/in/mihaela-malinova-72352319a/}">
                <img alt="linkedIn icon" src="/images/linkedin.svg">
            </a>
        </li>
    </ul>
</footer>
</body>
</html>