/* Add padding to containers */
.container {
    background-color: rgba(210,165,127,255);
    padding: 10px;
    text-align: center;
    width: 500px;
    margin: auto;
}
/* Full-width input fields */
input[type="text"], input[type="number"], input[type="password"] {
    padding: 10px;
    margin: 5px 0 15px 0;
    width: 100%;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}
input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}
input[type="search"] {
    padding: 10px;
    margin: 5px 0 1px 0;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}
input[type="search"]:focus {
    background-color: #ddd;
    outline: none;
}
form hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
}
/* Set a style for the submit/register button */
.registerbtn {
    background-color: rgb(255, 211, 158);
    color: white;
    padding: 16px 16px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 0.5;
}
/* Add a blue text color to links */
a {
    color: dodgerblue;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
    padding: 15px;
    margin: 8px 0;
    background-color: #f1f1f1;
    text-align: center;
}
#login_logo, #register_logo {
    width: 160px;
    height: 95px;
}