<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="рецепти, готварски рецепти, кулинарни рецепти, готвене, какво да сготвя, храна">
    <meta property="description"
        content="Готварски рецепти със снимки, необходими продукти, порции, време за приготвяне и стъпки, които да следваш, за да сготвиш своето ястие.">
    <link rel="icon" type="image/x-icon" href="images/icon.png">
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <title>Да сготвим - Поверителност на данните</title>
</head>

<body>
    <div id="container">
        <p style="text-align: center; font-weight: bold;">Политика за поверителност на данните</p>
        <p style="margin: 20px;">Настоящият "документ" има за цел да Ви уведоми, че ценим високо Вашите лични данни и,
            че полагаме всички необходими усилия за тяхното опазване.<br>
            С развитието на технологиите и сайтът е възможно да се наложи промяна в Политиката за поверителност.<br>
            Препоръчваме Ви редовно да преглеждате нейното съдържание.
        </p>
        <p style="font-weight: bold; margin: 20px;">Какви данни събираме?</p>
        <p style="margin: 20px;">Това са само данни, които ни предоставяте при регистрирането/влизането в уебсайта
            чрез индивидуален профил, както и при връзка със Собственика чрез формуляра в секция "Контакти".
        </p>
        <p style="font-weight: bold; margin: 20px;">Защо обработваме личните Ви данни?</p>
        <p style="margin: 20px;">Обработваме Вашите лични данни, за да изпълним задълженията си съгласно закона.<br>
            Всички най-важни данни, като парола, са криптирани и неразчетими от трети лица.<br>
            Съхраняването на данните Ви е необходимо за така наречената потребителска сесия.<br>
        </p>
        <p style="font-weight: bold; margin: 20px;">Предоставяме ли лични данни на други лица?</p>
        <p style="margin: 20px;">Данните, които можем да предоставим на други лица, са единствено под формата на събрана
            статистическа информация за целите на маркетинга.
        </p>
        <p style="font-weight: bold; margin: 20px;">Какви са Вашите права относно личните Ви данни?</p>
        <p style="margin: 20px;">В случай, че решите да не ни предоставите личните си данни, то услугите, които сме в
            състояние да Ви предложим, ще бъдат ограничени.
        </p>
        <p style="font-weight: bold; margin: 20px;">Как може да се свържете с нас?</p>
        <p style="margin: 20px;">Ако имате въпроси или коментари относно съдържаниео на настоящата Политика, може да се
            свържете със Собственика чрез E-mail: <b>malinova29@gmail.com</b> или в
            случай, че вече сте влезли в приложението - чрез секцията "Контакти".
        </p><br>

        <footer>
            <hr style="width:100%;text-align:left;margin-left:0;">
            <div class="footer">
                <a href="index.html">Начало</a>
                <a href="./info">Информация</a>
                <a href="./terms_of_use">Условия за ползване</a>
                <a href="./data_policy">Политика за поверителност на данните</a>
                <a href="./contacts">Контакти/За реклама</a>
            </div>
            <br>
            <ul id="social-media">
                <li>
                    <p>2021 &copy; dasgotvim.com</p>
                </li>
                <li>
                    <a href="https://www.facebook.com/mihaela.malinova.98/">
                        <img src="images/facebook.svg" alt="facebook icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mihaellamalinova/">
                        <img src="images/instagram.svg" alt="instagram icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mihaela-malinova-72352319a/">
                        <img src="images/linkedin.svg" alt="linkedIn icon">
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>