<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="рецепти, готварски рецепти, кулинарни рецепти, готвене, какво да сготвя, храна">
    <meta property="description"
        content="Готварски рецепти със снимки, необходими продукти, порции, време за приготвяне и стъпки, които да следваш, за да сготвиш своето ястие.">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Да сготвим - Информация</title>
</head>

<body>
    <div id="container">
        <p style="text-align: center; font-weight: bold;">Добре дошъл в уеб приложението "Да сготвим"</p><br>
        <p style="margin: 20px;">Зад него стоя аз - Михаела Малинова, завършила Технически университет, София - филиал
            Пловдив със специалност
            Компютърни системи и технологии.<br>
            Паралелно със заниманията/задълженията ми в държавния университет се квалифицирам и като Java Developer в
            Софтуерния университет(SoftUni).<br>
            Така придобих всички нужни знания, с които да "изработя" този кулинарен уебсайт.<br>
            А идеята за него дойде от това, че както всеки друг, така и аз се питам ежедневно "Какво да си приготвя за
            хапване?". Това е въпросът, който мъчи и всяка една домакиня или домакин. Именно в полза на всеки един
            такъв човек реализирах този сайт, който да бъде в полза на хората. Към
            този момент е налично и за Android устройства, но да се надяваме, че скоро ще бъде достъпно и за IOS OS.<br>
            Та ако искаш да си сготвиш нещо бързо, лесно и вкусно, но не знаеш какво да бъде то или как да го направиш,
            значи си на точното място. "Да сготвим" ще ти помогне да откриеш нови рецепти, да добавяш свои, с които да
            помогнеш на останалите потребители, да запазваш свои любими, да филтрираш, както по имена, така и по
            категории, както и много други.<br>
            И всичко това ще бъде поднесено със снимки, необходими продукти, порции, време за приготвяне и стъпки, които
            да следваш, за да сготвиш своето ястие.<br>
            Относно сигурността - можеш да бъдеш сигурен, че всичките ти пароли, които "текът" по мрежата са
            криптирани и неразчетими от трети лица.<br>
            Ако имаш някакви въпроси към мен, искаш да дадеш обратна връзка или просто искаш да си поговориш с мен за
            съвет или нещо друго, не се колебай да се свържеш с мен чрез секцията Контакти, ще се радвам да те
            "чуя".<br><br>
            Приятен апетит! &#128523;</p><br>

        <footer>
            <hr style="width:100%;text-align:left;margin-left:0;">
            <div class="footer">
                <a href="index.html">Начало</a>
                <a href="./info">Информация</a>
                <a href="./terms_of_use">Условия за ползване</a>
                <a href="./data_policy">Политика за поверителност на данните</a>
                <a href="./contacts">Контакти/За реклама</a>
            </div>
            <br>
            <ul id="social-media">
                <li>
                    <p>2021 &copy; dasgotvim.com</p>
                </li>
                <li>
                    <a href="https://www.facebook.com/mihaela.malinova.98/">
                        <img src="images/facebook.svg" alt="facebook icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mihaellamalinova/">
                        <img src="images/instagram.svg" alt="instagram icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mihaela-malinova-72352319a/">
                        <img src="images/linkedin.svg" alt="linkedIn icon">
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>