<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="рецепти, готварски рецепти, кулинарни рецепти, готвене, какво да сготвя, храна">
    <meta property="description"
        content="Готварски рецепти със снимки, необходими продукти, порции, време за приготвяне и стъпки, които да следваш, за да сготвиш своето ястие.">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <title>Да сготвим - Вход</title>
    <script src="src/login-register.js" type="module"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Login Page -->
    <section id="login">

        <div class="container">
            <a id="icon" href="index.html">
                <img id="login_logo" src="images/lets_cook.png" alt="logo">
            </a>
            <form id="login-form" method="post">
                <h1>Вход</h1>
                <p>Моля, въведи своите данни.</p>
                <hr>

                <p>Потребителско име</p>
                <input placeholder="Въведи потребителско име" name="username" type="text">

                <p>Парола</p>
                <input type="password" placeholder="Въведи парола" name="password">
                <input type="submit" class="registerbtn" value="Влизане">
            </form>
            <div class="signin">
                <p>Все още нямаш акаунт?
                    <a href="register.html">Регистрация</a>.
                </p>
            </div>
        </div>
    </section>
</body>

</html>