<!DOCTYPE html>
<html lang="en"
      xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="рецепти, готварски рецепти, кулинарни рецепти, готвене, какво да сготвя, храна">
    <meta property="description"
        content="Готварски рецепти със снимки, необходими продукти, порции, време за приготвяне и стъпки, които да следваш, за да сготвиш своето ястие.">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>Да сготвим - Вход</title>
</head>

<body>
    <!-- Login Page -->
    <section id="login">
        <div class="container">
            <a id="icon" th:href="@{/}">
                <img id="login_logo" src="/images/lets_cook.png" alt="logo">
            </a>
            <form id="login-form"
                  th:action="@{/user/login}"
                  th:method="POST">
                <h2>Вход</h2>
                <p>Моля, въведи своите данни.</p>
                <hr>
                <p>Email</p>
                <input
                        style="margin-top: -12px"
                        placeholder="Въведи Email"
                        name="email"
                        type="text"
                        class="form-control"
                >
                <p>Парола</p>
                <input
                        style="margin-top: -12px"
                        type="password"
                        placeholder="Въведи парола"
                        name="password"
                        min="3"
                        class="form-control"
                >
                <p th:if="${bad_credentials}" style="margin-top: -15px" class="errors alert alert-danger">
                    Невалиден Email и/или парола.
                </p>
                <input type="submit" class="registerbtn" value="Влизане">
            </form>
            <div class="signin">
                <p>Все още нямаш акаунт?
                    <a th:href="@{/user/register}">Регистрация</a>.
                </p>
            </div>
        </div>
    </section>
</body>

</html>