<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="рецепти, готварски рецепти, кулинарни рецепти, готвене, какво да сготвя, храна" name="keywords">
    <meta content="Готварски рецепти със снимки, необходими продукти, порции, време за приготвяне и стъпки, които да следваш, за да сготвиш своето ястие."
          property="description">
    <link href="/images/icon.png" rel="icon" type="image/x-icon">
    <title>Да сготвим - Поддръжка</title>
</head>

<body style="background-size: cover; background-color: rgba(255, 218, 176, 0.89);">
<div>
    <h5 style="font-size: 20px; text-align: center;">
        В момента правим поддръжка на сайта!<br>
        Моля, опитайте отново сутринта!
    </h5>
</div>
</body>

</html>