<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="рецепти, готварски рецепти, кулинарни рецепти, готвене, какво да сготвя, храна">
    <meta property="description"
        content="Готварски рецепти със снимки, необходими продукти, порции, време за приготвяне и стъпки, които да следваш, за да сготвиш своето ястие.">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="/js/app.js" type="module"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>Да сготвим - Рецепти</title>
</head>

<body>
    <div id="food-container">

        <div th:replace="fragments/navbar">Navbar</div>

        </div>
        <hr style="width:100%;text-align:left;margin-left:0">
        <!-- FOOD MENU SECTION -->
        <section id="recipes-section" class="bg-img bg-img-fixed">
            <h2 id="cat-title" style="text-align: center;"></h2>
            <div class="food-menu">
                <div id="recipe-dashboard" class="food-item-wrap all">
                    <!-- <div class="food-item lorem-type">
                        <div class="item-wrap bottom-up play-on-scroll">
                            <div class="item-img">
                                <div class="img-holder bg-img"
                                    style="background-image: url('assets/anh-nguyen-kcA-c3f_3FE-unsplash.jpg');">
                                </div>
                            </div>
                            <div class="item-info">
                                <div>
                                    <h3>
                                    </h3>
                                    <span>
                                    </span>
                                </div>
                                <div class="cart-btn">
                                    <i class="bx bx-cart-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

    <div th:replace="fragments/footer">Navbar</div>

</body>

</html>