<!DOCTYPE html>
<html lang="en"
      xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="рецепти, готварски рецепти, кулинарни рецепти, готвене, какво да сготвя, храна">
    <meta property="description"
        content="Готварски рецепти със снимки, необходими продукти, порции, време за приготвяне и стъпки, които да следваш, за да сготвиш своето ястие.">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>Да сготвим - Регистрация</title>
</head>

<body>
    <!-- Register Page -->
    <section id="register">
        <div class="container">
            <a id="icon" th:href="@{/}">
                <img id="register_logo" src="/images/lets_cook.png" alt="logo">
            </a>
            <form id="register-form"
                  th:action="@{/user/register}"
                  th:method="POST">
                <h1>Регистрация</h1>
                <p>Моля, попълни формата по-долу, за да се регистрираш.</p>
                <hr>
                <p>Име</p>
                <input type="text" placeholder="Въведи име" name="firstName">

                <p>Фамилия</p>
                <input type="text" placeholder="Въведи фамилия" name="lastName">

                <p>E-mail</p>
                <input placeholder="Въведи своя имейл" name="email" type="text">

                <p>Парола</p>
                <input type="password" placeholder="Въведи парола" name="password">

                <p>Повтори паролата</p>
                <input type="password" placeholder="Повтори въведената парола" name="repeatPass">

                <input type="submit" class="registerbtn" value="Регистриране">
            </form>
            <div class="signin">
                <p>Вече имаш акаунт?
                    <a th:href="@{/user/login}">Вход</a>.
                </p>
            </div>
        </div>
    </section>
</body>

</html>