<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="рецепти, готварски рецепти, кулинарни рецепти, готвене, какво да сготвя, храна">
    <meta property="description"
        content="Готварски рецепти със снимки, необходими продукти, порции, време за приготвяне и стъпки, които да следваш, за да сготвиш своето ястие.">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <title>Да сготвим - Условия за ползване</title>
</head>

<body>
    <div id="container">

        <div th:replace="fragments/navbar">Navbar</div>

        <p style="text-align: center; font-weight: bold;">Условия за ползване</p>
        <p style="font-weight: bold; margin: 20px;">Собственост</p>
        <p style="margin: 20px;">Настоящият уебсайт е собственост на Михаела Велинова Малинова с ЕГН: 981001****,
            наричана по-долу Собственик. Съдържанието на този сайт е под закрила на Закона за авторското право и
            сродните му права.
        </p>
        <p style="font-weight: bold; margin: 20px;">Общи условия</p>
        <p style="margin: 20px;">Потребителите получават правото да използват услугите на "Да сготвим"
            единствено за лични/нетърговски цели, освен ако изрично не е договорено друго със Собственика.<br>
            Забранява се препечатането на цели материали, без изрично писмено съгласие на Собственика.<br>
            Собственикът има пълното право да НЕ одобрява или да премахва материали, неотговарящи на очакваното
            съдържание или такива, съдържащи нецензурни думи и изрази, както и всякакви форми на обиди.<br>
            Собственикът има пълното право да променя дизайна и всичко останало, което не се отнася лично до
            потребителя, като съдържание или условия за ползване, без предварително уведомление.
        </p>
        <p style="font-weight: bold; margin: 20px;">Отговорност</p>
        <p style="margin: 20px;">Цялата информация в приложението се предоставя без гаранция от страна на Собственика за
            нейната ненакърнимост и безопасност от злонамерени атаки от трети лица.<br>
            Собственикът не носи отговорност за:<br>
            - Възниканали вреди, свързани с достъпа или липсата на достъп, както и всякакви други вреди, породени от
            използването на сайта;<br>
            - Съдържанието/Информацията, включена от публикувани линкове, както и последиците от тяхното посещаване;<br>
            - Данните, предоставени от потребителите;<br>
            - Мненията и коментарите, изразени от потребителите;<br>
            - Съдържанието/Информацията на публикуваните реклами;<br>
            - Събраните данни при влизане в сайта чрез други сайтове или приложения.
        </p>
        <p style="font-weight: bold; margin: 20px;">Конфиденциалност</p>
        <p style="margin: 20px;">Собственикът гарантира и се застрахова с това, че единствената информация, която ще
            пази в своята база данни, относно потребителя е: име, e-mail и парола, както и допълнително добавените от
            потребителя с течение на използването на приложението рецепти, продукти и снимки/картинки.<br>
            Собственикът може да предоставя събраната статистическа информация, както и да изготвя вътрешни статистики
            за целите на маркетинга(своите и на свои партньори).<br>
            Отварянето на "страниците" и/или линковете в сайта, както и влизането и регистрацията в него
            представляват декларация от страна на потребителя, че е запознат и приема уловията за ползване.
        </p><br>

        <footer>
            <hr style="width:100%;text-align:left;margin-left:0;">
            <div class="footer">
                <a href="index.html">Начало</a>
                <a href="./info">Информация</a>
                <a href="./terms_of_use">Условия за ползване</a>
                <a href="./data_policy">Политика за поверителност на данните</a>
                <a href="./contacts">Контакти/За реклама</a>
            </div>
            <br>
            <ul id="social-media">
                <li>
                    <p>2021 &copy; dasgotvim.com</p>
                </li>
                <li>
                    <a href="https://www.facebook.com/mihaela.malinova.98/">
                        <img src="images/facebook.svg" alt="facebook icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mihaellamalinova/">
                        <img src="images/instagram.svg" alt="instagram icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mihaela-malinova-72352319a/">
                        <img src="images/linkedin.svg" alt="linkedIn icon">
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>